{{ define "main" }}

<div id="featured">
    <div class="container-md">
        <div class="row">
            <div class="featured-posts">
                {{ $featured := slice }}
{{ range where .Site.Pages "Params.featured" true }}
  {{ if le (len $featured) 2 }}
    {{ $featured = $featured | append . }}
  {{ end }}
{{ end }}
                {{ range $i, $feat:=  $featured }}
                {{ partial "featured-post.html" (dict "context" . "index" $i) }}
                {{ end }}
            </div>
        </div>
    </div>
</div>


<div class="col col-xxl-12 col-md-12 col-sm-12">
  <div class="card overflow-hidden mb-3">
    <div class="card-header audience-chart-header p-0 bg-light scrollbar-overlay">
    <ul class="nav nav-tabs border-0 chart-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link mb-0 active" role="tab" data-bs-toggle="tab" aria-controls="users" aria-selected="true">
        <div class="audience-tab-item text-center">
          Galway
        </div>
      </a>
    </li>
    </ul>
    </div>
  </div>
  
</div>


{{ .Content }}


{{ if gt .Sections 0 }}
<div class="bg-offwhite pb-5 pt-1">
    <div class="container-md">
        <h2 class="section-title">
            <a href={{ "/sections/" | relURL }}>Sections</a>
        </h2>

        <div class="row">
            {{ $allPages := where .Site.Pages "Section" "sections" }}
            {{ $contentPages_and_section := where .Site.RegularPages "Section" "sections" }}
            {{ $contentPages := symdiff $allPages $contentPages_and_section }}

            {{ $sections := where $contentPages "Title" "!=" "Sections" }}

            {{ $sections := $sections.ByDate.Reverse | first 3 }}

            {{ range $sections }}
                {{ if ne .Title "Sections" }}
                {{ partial "suggestion-section.html" . }}
                {{ end }}
            {{ end }}
        </div>

        {{ partial "ads.html" "ads/horizontal-ad.js" }}
    </div>
</div>
{{ end }}


{{ end }}