{{ define "main" }}

<div class="container mx-auto font-sans text-sm font-medium 
grid grid-cols-1 lg:grid-cols-3 gap-4 py-6">
  <div class="lg:col-span-2">
    <div x-data="{
      raceData: [],
      showDate: 'Today', 
      selectedDate: new Date().toISOString().split('T')[0],
      getDate(daysAhead) {
        let date = new Date();
        date.setDate(date.getDate() + daysAhead);
        return date.toISOString().split('T')[0]; // Format YYYY-MM-DD
      },
      fetchData() {
        fetch(`/racecards/${this.selectedDate}.json`)
          .then(response => response.json())
          .then(data => this.raceData = data)
          .catch(error => console.error('Error loading race data:', error));
      },
      scrollLeft(el) {
        el.scrollBy({ left: -200, behavior: 'smooth' });
      },
      scrollRight(el) {
        el.scrollBy({ left: 200, behavior: 'smooth' });
      }
    }" x-init="fetchData()">



      <div class="races-box container hidden md:block">
        <div class="races-box-header flex flex-row flex-grow justify-between">
          <div>
            <h1 class="text-2xl font-bold ml-5 uppercase"><span x-text="showDate"></span>'s Racing</h1>
          </div>

          <!-- Button Group Div-->
          <div class="flex space-x-1 font-semibold text-sm p-1 bg-white ">
            <!-- Yesterday Button -->
            <button @click="showDate = 'Yesterday'; selectedDate = getDate(-1); fetchData()"
              :class="showDate === 'Yesterday' ? 'bg-emerald-700 border border-emerald-700 text-white' : 'bg-transparent text-black'"
              class="px-4 py-1 rounded border border-transparent hover:border-emerald-700 uppercase">
              Yesterday
            </button>
            <!-- Today Button -->
            <button @click="showDate = 'Today'; selectedDate = getDate(0); fetchData()"
              :class="showDate === 'Today' ? 'bg-emerald-700 border border-emerald-700 text-white' : 'bg-transparent text-black'"
              class="px-4 py-1 rounded border border-transparent hover:border-emerald-700 uppercase">
              Today
            </button>

            <!-- Tomorrow Button -->
            <button @click="showDate = 'Tomorrow'; selectedDate = getDate(1); fetchData()"
              :class="showDate === 'Tomorrow' ? 'bg-emerald-700 border border-emerald-700 text-white' : 'bg-transparent text-black'"
              class="px-4 py-1 rounded border border-transparent hover:border-emerald-700 uppercase">
              Tomorrow
            </button>


          </div>
        </div>

        <div id="races" class="bg-white border">
          <template x-for="(courseData, index) in raceData" :key="index">
            <div class="container px-4">
              <div class="grid grid-cols-3 border-b">
                <div class="col-span-1">
                  <div class="flex flex-col justify-center">
                    <span class="text-md font-semibold" x-text="courseData.Course"></span>
                    <span class="text-sm font-light">Jumps | <span x-text="courseData.races.length"></span> races</span>
                  </div>
                </div>

                <div class="col-span-2 relative">
                  
                  <div class="overflow-x-auto">
                    <div class="flex space-x-4" :x-ref="'carousel-' + index">
                      <template x-for="(race, raceIndex) in courseData.races" :key="raceIndex">
                        <a
                          :href="`/racecards/view?date=${selectedDate}&course=${courseData.Course}&time=${race.timeDisplay}`">
                          <div class="w-20 flex-shrink-0">
                            <div class="flex flex-col items-center">
                              <span class="font-semibold" x-text="race.timeDisplay"></span>
                              <span class="text-xs font-light" x-text="race.noOfRunners + ' Runners'"></span>
                            </div>
                          </div>
                        </a>
                      </template>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <section class="mobile-accordion block md:hidden" >
            <template x-for="(courseData, index) in raceData" :key="index">
                <div class="px-2 py-1">
                    <button class="accordion_header_row 
                      px-1  h-14 w-full items-center md:mx-2
                       bg-slate-300 " x-on:click="courseData.open = !courseData.open"
                        :aria-expanded="courseData.open ? 'true' : 'false'" :id="courseData.course + '-header'">
                        <div class="flex flex-row flex-grow justify-between my-2 mx-4 items-center ">
                            <div class="flex flex-col md:flex-row md:flex-grow justify-between">
                                <div class="flex flex-row gap-4 items-center">
                                    <img class="RC-accordion__courseIcon h-10 hidden md:block"
                                        src="https://www.rp-assets.com/course-photos/GB-394-x.jpg"
                                        onerror="this.onerror=null;this.src='https://www.rp-assets.com/course-photos/GENERIC-x.jpg';"
                                        data-test-selector="RC-accordion__courseIcon">
                                    <span class="text-lg md:text-xl uppercase font-semibold break-after-column"
                                        x-text="courseData.Course"> </span>
                                </div>
                                <div class="flex flex-row text-xs space-x-4 items-center relative">
                                    <span
                                        x-text="courseData.races[0].timeDisplay + ' - ' + courseData.races[courseData.races.length - 1].timeDisplay"></span>
                                    <span>Jumps</span>
                                    <span x-text="courseData.races.length + ' Races'"></span>
                                </div>
                            </div>
                            <div class="relative mx-4 w-4 h-4 fill-emerald-700">
                                <div x-show="courseData.open" class="minus-icon absolute inset-0 w-4 h-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="100 40 100 20" class="w-full h-full">
                                        <title>minus</title>
                                        <rect opacity="0" width="100" height="100"></rect>
                                        <path
                                            d="M100,53c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4v-6c0-2.2,1.8-4,4-4h92c2.2,0,4,1.8,4,4V53z">
                                        </path>
                                    </svg>
                                </div>
    
                                <div x-show="!courseData.open" class="plus-icon absolute inset-0 w-4 h-4 fill-emerald-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-full h-full">
                                        <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </button>
                    <div x-show="courseData.open" :id="courseData.Course + '-content'" class="">
                        
    
                        <template x-for="race in courseData.races" :key="race.timeDisplay">
                            <div class="flex flex-row justify-between flex-grow  items-center px-4 py-1 border-b">
                                <a
                                    :href="'/racecards/view?date=' + selectedDate + '&course=' + courseData.Course + '&time=' + race.timeDisplay">
                                    <div
                                        class="flex flex-row flex-grow justify-between items-center hover:underline hover:text-emerald-700">
                                        <div class="flex flex-row gap-4 px-4 text-xl">
                                            <div class="w-18">
                                                <span class="hover:no-underline" x-text="race.timeDisplay"></span>
                                            </div>
                                            <div class="flex flex-wrap text-sm md:text-lg space-x-2">
                                                <span x-text="race.raceTitle"> </span>
                                                <div class="font-light text-gray-500">
                                                    <span class="hover:no-underline text-sm" x-text="race.raceConditions">
                                                    </span>
                                                    <span class="hover:no-underline text-sm"
                                                        x-text="race.raceDistance"></span>
    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-row">
                                            <div  class="hidden md:block font-light text-gray-500 hover:no-underline text-xs md:text-sm whitespace-nowrap">
                                                <span x-text="race.noOfRunners + ' Runners'"></span>
    
                                            </div>
                                            
                                            <div class=" ui-icon_chevron w-4 h-4 px-2 fill-emerald-700">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                                                    class="bi ui-icon bi-chevron-right" viewBox="0 0 100 100">
                                                    <path fill-rule="evenodd"
                                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </template>
                    </div>
                </div>
            </template>
        </section>
    </div>
    
   

  </div>


  <aside class="hidden lg:block lg:col-span-1 order-1 lg:order-2 ml-8">
    <div class="bg-white p-4 rounded-lg shadow-md">
      <h2 class="text-lg font-semibold mb-2">Stats Feed</h2>
      <template x-data="{ stats: ['Top Trainer: John Doe', 'Highest Rated Horse: Thunderbolt', 'Upcoming Races: 5'] }">
        <ul>
          <template x-for="stat in stats" :key="stat">
            <li class="bg-gray-200 p-2 mb-2 rounded" x-text="stat"></li>
          </template>
        </ul>
      </template>
    </div>
  </aside>

</div>












{{ end }}